<div class="users">
	<div class="user">
		<img src="/assets/images/brandon.png" />
	</div>	

	<div class="vs"></div>

	<div class="user">
		<img src="/assets/images/brandon.png" />
	</div>
</div>

<hr />

<h4>Hey Brandon! Your friend Brandon has challenged you to a duel!</h4>

<hr />

<div id="accept">
	<div class="box">
		<h6>The Duel</h6>
		<hr />
		<p>Who can eat the most hot wings in an hour?</p>
	</div>
	
	<div class="timer">
		<div class="block"><p>0<span>days</span></p></div>
		<div class="block"><p>0<span>hours</span></p></div>
		<div class="block"><p>59<span>minutes</span></p></div>
		<div class="block"><p>7<span>seconds</span></p></div>
	</div>
	
	<button type="submit" class="button"><span>Accept this Duel!</span></button>
	<small>Can't take the heat? <a href="#">Decline the duel</a>.</small>
</div>