<h3>Challenge your Facebook friends to a duel (this can be anything),<br/>and let your other friends pick who they think will win!</h3>

<ul class="examples">
	<li class="pizza">Who can eat the most pizza?</li>
	<li class="people">Who's the most beautiful of them all?</li>
	<li class="beer">Who can put 'em away the fastest?</li>
</ul>

<a href="/auth/facebook" class="button"><span>Create a Duel!</span></a>