<!DOCTYPE html> 
<html>
	<head>
		<title>DuelMe</title>

		<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/assets/css/style.css" />
	</head>
	<body>
		<div id="topbar"></div>
		
		<div class="container">
			<a href="/" id="logo">DuelMe</a>

			<%- body %>
		</div>
		
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script src="/assets/js/modal.js"></script>
	</body>
</html>