<div class="users">
	<div class="user">
		<img src="/assets/images/brandon.png" />
		<p class="status picked"><span><img src="/assets/images/shield.png" />Brave Choice.</span></p>
	</div>	

	<div class="vs"></div>

	<div class="user">
		<img src="/assets/images/brandon.png" />
		<p class="status"><span>Denied</span></p>
	</div>
</div>

<div id="accept">
	<div class="box">
		<h6>The Duel</h6>
		<hr />
		<p>Who can eat the most hot wings in an hour?</p>
	</div>
	
	<div class="timer">
		<div class="block"><p>0<span>days</span></p></div>
		<div class="block"><p>0<span>hours</span></p></div>
		<div class="block"><p>59<span>minutes</span></p></div>
		<div class="block"><p>7<span>seconds</span></p></div>
	</div>
</div>

<div class="modal">
	<div class="backdrop"></div>
	
	<div class="modal_content">
		<div class="close">&times;</div>
		
		<div class="title">
			<img src="/assets/images/brandon_small.png" />
			<p>You're about to pick Brandon R. Choose wisely.</p>
		</div>
		
		<div class="split">
			<div class="left">
				<p class="header">Put your money where your mouth is!</p>
				<p>That's some confidence you have. Contribute a dollar via Dwolla to the winner of this duel!</p>

				<div class="actions">
					<a href="#" class="small_button orange"><span><img src="/assets/images/dwolla_small.png" />Pick + $1 via Dwolla</span></a>
				</div>
			</div>
			<div class="right">
				<p class="header">Just make your pick and move along.</p>
				<p>No worries. Every vote counts, as they say. Etch your choice in stone and submit your pick right meow.</p>
				
				<div class="actions">
					<a href="#" class="small_button purple"><span>Submit your pick</span></a>
				</div>
			</div>
		</div>
	</div>
</div>