<div class="users">
	<div class="user">
		<img src="/assets/images/brandon.png" />
		<p class="status winner"><span>Victory! Huzzah!</span></p>
	</div>	

	<div class="vs"></div>

	<div class="user">
		<img src="/assets/images/brandon.png" />
		<p class="status loser"><span>Fail. Boo hiss.</span></p>
	</div>
</div>

<div id="accept">
	<div class="box">
		<h6>The Duel</h6>
		<hr />
		<p>Who can eat the most hot wings in an hour?</p>
	</div>
	
	<div class="timer">
		<div class="block"><p>0<span>days</span></p></div>
		<div class="block"><p>0<span>hours</span></p></div>
		<div class="block"><p>59<span>minutes</span></p></div>
		<div class="block"><p>7<span>seconds</span></p></div>
	</div>
</div>