@import "bootstrap.less";
@import "chosen.less";
#reset > .global-reset();

html, body {
	height: 100%;
	width: 100%;
}

html {
	background: url(../images/bg.png) repeat 0 0;
}

body {
	position: relative;
	background: url(../images/bg_img.png) no-repeat 50% 0;
	background-size: cover;
	-webkot-background-size: cover;
}

a, a:visited, a:link {
	color: #2bc6ff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#topbar {
	width: 100%;
	height: 15px;
	background: url(../images/topbar.png) repeat-x 0 0;
}

.container {
	padding: 20px 0 0;
	text-align: center;

	#logo {
		display: block;
		text-indent: -9999px;
		text-decoration: none;
	
		width: 283px;
		height: 88px;
		background: url(../images/logo.png) no-repeat 0 0;	
		
		margin: 0 auto;
		padding: 0 0 30px;
	}
	
	h3, h4 {
		#font > .sans-belgrano(normal, 18px, 34px);
		color: #fff;
		text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
		text-align: center;
	}
	h3 {
		padding: 0 0 30px;
	}

	.examples {
		display: block;
		margin: 0 auto 30px;
		padding: 1px 35px;
		width: 400px;
		
		background: url(../images/dark.png) repeat 0 0;
		.border-radius(5px);

		li {
			display: block;
			height: 32px;
			margin: 20px auto;
			padding-left: 40px;

			#font > .sans-belgrano(normal, 18px, 32px);
			color: #fff;
			text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
			text-align: center;
			
			&.pizza {
				width: 280px;
				background: url(../images/pizza.png) no-repeat 0 0;
			}
			&.people {
				width: 360px;
				background: url(../images/people.png) no-repeat 0 0;
			}
			&.beer {
				width: 330px;
				background: url(../images/beer.png) no-repeat 0 0;
			}
		}
	}
	
	.button {
		display: inline-block;
		height: 63px;
		background: url(../images/button_right.png) no-repeat 100% 0;
		padding: 0 10px 0 0;
		margin: 0;
		border: 0;

		span {
			display: inline-block;
			height: 63px;
			padding: 0 50px 0 60px;
			background: url(../images/button_left.png) no-repeat 0 0;
			
			#font > .sans-belgrano(normal, 28px, 60px);
			color: #fff;
			text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
			text-align: center;
		}
	}
	
	.small_button {
		display: inline-block;
		height: 43px;
		background: url(../images/banner_purple_right.png) no-repeat 100% 0;
		padding: 0 8px 0 0;
		margin: 0 auto;
		border: 0;
	
		span {
			display: inline-block;
			height: 43px;
			padding: 0 10px 0 20px;
			background: url(../images/banner_purple_left.png) no-repeat 0 0;
			
			#font > .sans-belgrano(normal, 15px, 42px);
			color: #fff;
			text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
			text-align: center;
			
			min-width: 150px;
		}

		&.orange {
			background: url(../images/button_orange_right.png) no-repeat 100% 0;

			span {
				background: url(../images/button_orange_left.png) no-repeat 0 0;
				
				img {
					position: relative;
					top: 5px;
					padding-right: 5px;
				}
			}
		}
	}
	
	.actions {
		text-align: center;
	}
	
	small {
		display: block;
		padding: 10px 0 0;

		#font > .sans-belgrano(normal, 14px, 20px);
		color: #fff;
		text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
		text-align: center;
	}
	
	.user {
		display: block;
		width: 100px;
		margin: 0 auto 20px;

		.border-radius(5px);

		& > img {
			display: block;
			width: 100px;
			height: 100px;
			.border-radius(5px);
			.box-shadow(rgba(0,0,0,0.3) 0 1px 3px);
		}
	}
	
	.users {
		.clearfix;
		width: 440px;
		margin: 0 auto;
		
		.user {
			float: left;
			display: block;
			width: 200px;
			margin: 0 auto 20px;
	
			.border-radius(5px);
	
			& > img {
				display: block;
				width: 100px;
				height: 100px;
				margin: 0 auto 10px;
				.border-radius(5px);
				.box-shadow(rgba(0,0,0,0.3) 0 1px 3px);
			}
			.status {
				display: inline-block;
				height: 43px;
				background: url(../images/banner_gray_right.png) no-repeat 100% 0;
				padding: 0 8px 0 0;
				margin: 0;
				border: 0;
		
				span {
					display: inline-block;
					height: 43px;
					padding: 0 10px 0 20px;
					background: url(../images/banner_gray_left.png) no-repeat 0 0;
					
					#font > .sans-belgrano(normal, 15px, 40px);
					color: #fff;
					text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
					text-align: center;
					
					min-width: 150px;
				}
				
				&.winner {
					background: url(../images/button_green_right.png) no-repeat 100% 0;

					span {
						background: url(../images/button_green_left.png) no-repeat 0 0;
					}
				}

				&.loser {
					background: url(../images/button_red_right.png) no-repeat 100% 0;

					span {
						background: url(../images/button_red_left.png) no-repeat 0 0;
					}
				}

				&.accepted {
					background: url(../images/banner_purple_right.png) no-repeat 100% 0;

					span {
						background: url(../images/banner_purple_left.png) no-repeat 0 0;
					}
				}

				&.picked {
					background: url(../images/banner_blue_right.png) no-repeat 100% 0;

					span {
						background: url(../images/banner_blue_left.png) no-repeat 0 0;
						
						img {
							position: relative;
							top: 6px;
							padding-right: 5px;
						}
					}
				}
			}
		}

		.vs {
			float: left;
			width: 19px;
			height: 101px;
			padding: 0 10px;
			background: url(../images/vs.png) no-repeat 50% 0;

			&.big {
				width: 37px;
				height: 254px;
				padding: 0 10px;
				background: url(../images/vs_big.png) no-repeat 50% 0;
			}
		}
	}
	
	hr {
		border: 0;
		height: 1px;
		width: 100%;
		background: url(../images/hr.png) no-repeat 50% 0;
	}
	
	.box {
		width: 430px;
		margin: 20px auto 30px;
		padding: 15px 20px 5px;

		background: url(../images/dark.png) repeat 0 0;
		.border-radius(5px);
		
		text-align: left;
	}
	
	.input, .split_input {
		padding: 0 0 15px;
	
		label {
			display: block;
			#font > .sans-droid(700, 14px, 18px);
			color: #fff;
			text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
			padding: 0 0 3px;
		}
		
		& > input, & > textarea, .date > input, .time > input {
			display: block;
			outline: none;

			#font > .sans-belgrano(normal, 14px, 20px);
			color: #555;
			width: 420px;
			
			.border-radius(5px);
			padding: 10px 5px;
			
			.box-shadow(inset rgba(0,0,0,0.3) 0 1px 3px);
			border: 1px solid #000;
		}
		textarea {
			height: 100px;
		}
		
		&.split_input {
			.clearfix;

			.date, .time {
				float: left;
			}
			
			.date {
				width: 245px;
				padding-right: 10px;
				
				input {
					width: 225px;	
				}
			}
			.time {
				width: 160px;
				
				input {
					width: 160px;	
				}
			}
		}
	}
}

#accept {
	.box {
		padding: 25px 57px;

		h6 {
			#font > .sans-droid(700, 18px, 24px);
			color: #fff;
			text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
			text-align: center;
			text-transform: uppercase;
		}
		p {
			#font > .sans-belgrano(normal, 18px, 24px);
			color: #fff;
			text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
			text-align: center;
		}
	}
	.timer {
		.clearfix;
		padding: 0 0 30px;
		width: 560px;
		margin: 0 auto;

		.block {
			float: left;
			width: 120px;
			height: 120px;
			margin: 0 10px;

			background: url(../images/dark.png) repeat 0 0;
			.border-radius(5px);
			
			p {
				position: relative;
				#font > .sans-belgrano(normal, 48px, 100px);
				color: #fff;
				text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
				text-align: center;
				
				span {
					position: absolute;
					display: block;
					bottom: 0;
					width: 100%;

					#font > .sans-droid(700, 18px, 18px);
					color: #a2a2a2;
					text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}
}


.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: #000;
		.opacity(70);
		
		z-index: 10;
	}
	.modal_content {
		position: absolute;
		top: 90px;
		left: 50%;
		width: 580px;
		margin-left: -290px;
		z-index: 20;
				
		background: #fff;
		.border-radius(5px);
		text-align: left;

		.close {
			cursor: pointer;
			position: absolute;
			top: 5px;
			right: 10px;
			color: #bbb;
		}
		.title {
			.clearfix;
			padding: 10px 20px 15px;			
			border-bottom: 1px solid #ddd;

			p {
				float: left;
				#font > .sans-belgrano(normal, 18px, 50px);
				color: #555;
				text-shadow: #fff 0 1px 1px;
				padding: 0 0 0 10px;
			}			
			img {
				float: left;
			}
		}
		.split {
			.clearfix;
			
			.left, .right {
				float: left;
				width: 249px;
				padding: 10px 20px 20px;
				
				.header {
					#font > .sans-droid(700, 18px, 24px);
					color: #555;
					padding: 0 0 10px;
				}
				p {
					#font > .sans-belgrano(normal, 14px, 20px);
					color: #555;
					padding: 0 0 25px;
				}
			}
			.left {
				border-right: 1px solid #ddd;
			}
			.right {
				
			}
		}
	}
}

#challenger_total, #owner_total {
	display: inline-block;
	padding: 15px 0 0;
	#font > .sans-belgrano(normal, 38px, 50px);
	color: #fff;
	text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
	text-align: center;
}